**/__pycache__/
.*.swp
edubot/educlf/trained-model
edubot/educlf/trained-intent*
edubot/czech-morfflex2.0-pdtc1.0-220710
multilingual_qaqg
python-aiml-chatbot
edubot/educlf/trained-model
edubot/educlf/trained-intent*
edubot/czech-morfflex2.0-pdtc1.0-220710
multilingual_qaqg
