**/__pycache__/
.*.swp
edubot/chitchat/aiml_brain.dump
edubot/educlf/trained-model*
edubot/educlf/trained-intent*
edubot/czech-morfflex2.0-pdtc1.0-220710
multilingual_qaqg
python-aiml-chatbot
console-log.txt
nohup.out
log.jsonl
cron.log
