torch
transformers
datasets
numpy
scipy
scikit-learn
matplotlib
pyyaml
flask==2.2.2
Werkzeug==2.2.2
logzero
sentence_transformers
ufal.morphodita
conllu
fuzzywuzzy
Levenshtein
openai
langchain
aiml
nltk
pandas
openpyxl
